
@model urbancare_final.Models.ViewModels.MakeComplaintViewModel

@{
    ViewBag.Title = "Make a Complaint";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/makecomplaint.css" asp-append-version="true" />
<h2>Make a Complaint</h2>

<form asp-action="MakeComplaint" asp-controller="User" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Statement"></label>
        <input asp-for="Statement" class="form-control" />
        <span asp-validation-for="Statement" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ProblemType"></label>
        <input asp-for="ProblemType" class="form-control" />
        <span asp-validation-for="ProblemType" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DepartmentId"></label>
        <select asp-for="DepartmentId" asp-items="Model.DepartmentList" class="form-control">
            <option value="">-- Select Department --</option>
        </select>
        <span asp-validation-for="DepartmentId" class="text-danger"></span>
    </div>

    <label asp-for="city"></label>
    <input asp-for="city" class="form-control" />
    <span asp-validation-for="city" class="text-danger"></span>

    <label asp-for="pincode"></label>
    <input asp-for="pincode" class="form-control" />
    <span asp-validation-for="pincode" class="text-danger"></span>


    <div class="form-group">
        <label asp-for="PhotoFile">Upload Photo (optional)</label>
        <input asp-for="PhotoFile" type="file" class="form-control" />
        <span asp-validation-for="PhotoFile" class="text-danger"></span>
    </div>

 


    <button type="submit" class="btn btn-primary">Submit Complaint</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
